@font-face {
  font-family: 'Poor Story';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Poor Story Regular'), local('PoorStory-Regular'), url(https://fonts.gstatic.com/s/poorstory/v4/jizfREFUsnUct9P6cDfd0O6tKA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-display: fallback;
  font-style: normal;
  font-weight: 600;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLEj6Z1xlEA.ttf) format('truetype');
}

$story: 'Poor Story', cursive;
$poppins: 'Poppins', sans-serif;
$defaultDark: #222;
$darkGray: #333;
$lightGray: #ccc;
$orange: orange;
$white: #ffff;
$blue: #4d90fe;
$burgundy: #922123;




@mixin phone {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}


/* ====================== GLOBAL ====================== */

body, 
td, 
th, 
p {
  font: 400 13pt/1.5 $story;
	color: $darkGray;
}

body {
	background-color: #FDF6E8;
	margin: 0;
	position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
	font-family: $story;
	color: $darkGray;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

a {
	color: $orange;
	text-decoration: none;
    & img {
        border: none 0px $white;
    }
    &:hover, &:focus {
        color: $blue;
        text-decoration: none;
    }
}

a, 
button {
  transition: all .3s;
  cursor: pointer;
}

h1, h2 {
  font-family: $poppins;
  font-weight: 600;
}

h3, 
h4, 
h5, 
h6 {
  font-family: $story;
  font-weight: 600;
  margin: 0 0 10px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

header {
  position: relative;
  width: 100%;
  background-color: $defaultDark;
  display: flex;
  z-index: 999;
  height: 80px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  &.fixed-header {
    position: fixed;
    top: 0;
    h1 {
      @include desktop {
        margin-bottom: 0;
      }
    }
  }
  @include tablet {
    height: 100px;
  }
  h1 {
    a {
      font: 600 12pt $poppins;
      color: $white;
      letter-spacing: 5px;
      text-transform: uppercase;
      @include phone {
        font-size: 14pt;
        letter-spacing: 7px;
      }
      @include desktop {
        font-size: 16pt;
      }
    }
  }
}

#maincontent {
  background-color: #FDF6E8;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#footer {
  background-color: #171717;
  letter-spacing: 1px;
  padding: 10px 0;
  text-align: center;
  @include tablet {
    position: relative;
  }
  p {
    font-size: 10pt;
    line-height: 2.2;
    color: $white;
    text-transform: uppercase;
  }
  a {
    padding: 1.8em 0;
  }
  &.absolute-positioned {
    bottom: 0;
    position: absolute;
    width: 100%;
    @include tablet {
      width: 50%;
    }
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
}

/* ====================== Navigation ====================== */

#menu-toggler {
    transition: top .3s;
    height: 48px;
    width: 48px;
    padding: .7em;
    position: absolute;
    z-index: 1;
    font-size: 1em;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    border: 0;
    background: 0 0;
    @include tablet {
      padding: .5em;
      left: 20px;
    }
    @include desktop {
      display: none;
    }

    .navigation-icon {
      position: relative;
      display: block;
      transition: background-color .2s ease .1s;
      &:after, &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
      }
      &,
      &:after, 
      &:before {
        height: 2px;
        background-color: #FFF;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
      &:before {
        top: -9px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-transition: top .1s ease .2s,-webkit-transform .2s ease 0s;
        transition: top .1s ease .2s,-webkit-transform .2s ease 0s;
        transition: transform .2s ease 0s,top .1s ease .2s;
        transition: transform .2s ease 0s,top .1s ease .2s,-webkit-transform .2s ease 0s;
      }
      &:after {
        bottom: -9px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-transition: bottom .1s ease .2s,-webkit-transform .2s ease 0s;
        transition: bottom .1s ease .2s,-webkit-transform .2s ease 0s;
        transition: transform .2s ease 0s,bottom .1s ease .2s;
        transition: transform .2s ease 0s,bottom .1s ease .2s,-webkit-transform .2s ease 0s;
      }
    }
}

#menu-toggler[aria-expanded="true"] {
  & + #primary-menu {
    display: block;
  }
  .navigation-icon {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background-color: transparent;
    &:before {
      top: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: top .1s ease,-webkit-transform .2s ease .2s;
      transition: top .1s ease,-webkit-transform .2s ease .2s;
      transition: top .1s ease, transform .2s ease .2s;
      transition: top .1s ease, transform .2s ease .2s,-webkit-transform .2s ease .2s;
    }
    &:after {
      bottom: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: bottom .1s ease,-webkit-transform .2s ease .2s;
      transition: bottom .1s ease,-webkit-transform .2s ease .2s;
      transition: bottom .1s ease, transform .2s ease .2s;
      transition: bottom .1s ease, transform .2s ease .2s,-webkit-transform .2s ease .2s;
    }
  }
}

#primary-menu {
  display: none;
  padding: 20px;
  position: absolute;
  background-color: #2B2B2B;
  top: 80px;
  left: 0;
  right: 0;
  transition: display .2s ease;
  @include tablet {
    top: 100px;
  }
  @include desktop {
    display: block;
    padding: 0;
    position: static;
    background-color: transparent;
    top: 0;
    width: 100%;
  }
}

#breadcrumb {
  padding-left: 0;
  list-style: none;
  margin: 0;
  @include desktop {
    margin: 0;
    margin-bottom: 20px;
  }

  li {
    display: inline;
    font-weight: normal;
    font-family: $poppins;
    a {
      font-size: 12pt;
      color: $blue;
      text-decoration: none;
      padding: .5em .4em;
      &.active-page {
        color: $white;
        @include desktop {
          color: #ddd;
        }
      }
      @include desktop {
        color: #4eaeef;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    &+li:before {
      padding: 8px;
      color: $lightGray;
      content: "/\00a0";
    }
  }
}

/* ====================== Map ====================== */

#map {
  height: 400px;
  width: 100%;
  background-color: $lightGray;
  @include tablet {
    height: 500px;
    position: fixed !important; 
    top: 0;
  }
}


/* ====================== Restaurant Filtering ====================== */

#restaurants-container {
  @include tablet {
    position: relative;
    margin-top: 400px;
  }
}

.filter-options {
  position: relative;
  text-align: center;
  padding: 1.5em;
  height: fit-content;
  background-color: $blue;
  h2 {
    margin-top: 0;
    color: $white;
    font-weight: normal;
  }
  select {
    background-color: $white;
    border: 1px solid $white;
    font-family: $story;
    font-size: 13pt;
    height: 35px;
    letter-spacing: 0;
    padding: 0 10px;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &:focus {
      outline: 3px dotted white;
      outline-offset: initial;
    }
    @include phone {
      max-width: 200px;
      margin-bottom: 0;
      &:not(:last-child) {
        margin-right: 10px;
        margin-bottom: 0;
      }
    }
  }
}


/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FDF6E7;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  li {
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: $white;
    border-top: 1px solid #e6e6e6;
    font-family: $story;
    margin: 15px;
    min-height: 380px;
    padding: 0 30px 25px;
    text-align: left;
    width: 270px;
    .image-box {
      position: relative;
    }
    h3 {
      color: $burgundy;
      font: 600 15pt/1.3 $story;
      letter-spacing: 0;
      margin: 20px 0 10px;
      text-transform: uppercase;
    }
    p, 
    address {
      font-style: inherit;
      margin: 0;
    }
  }
}

button {
  font-size: 12pt;
  background-color: $defaultDark;
  border: none;
  border-radius: 20px;
  color: $white;
  margin: 15px 0 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 13px 0;
  &:hover, &:focus {
    background-color: $blue;
  }
  @include tablet {
    padding: 8px 30px 10px;
    width: initial;
  }
  &.favorite-button {
    width: min-content;
    bottom: -14.469px;
    right: calc(50% - 22.5px);
    position: absolute;
    border: 2px solid white;
    padding: 7px 9px;
    font-size: 1.2em;
    @include tablet {
      right: -9.5px;
    }
    &.is-favorite {
      background-color: #f70d0d;
    }
    &.is-not-favorite {
      background-color: $defaultDark;
    }
  }
}

.restaurant-img {
  background-color: $lightGray;
  display: block;
  margin: 0;
  // min-height: 248px;
}

/* ====================== Restaurant Details ====================== */

.inside {
  #map-container {
    background: $blue none repeat scroll 0 0;
    width: 100%;
    height: 200px;
    position: relative;
    top: 80px;

    @include tablet {
      width: 50%;
      height: calc(100% - 100px);
      position: fixed;
      right: 0;
      top: 100px;
    }
  }

  #map {
    background-color: $lightGray;
    height: 100%;
    width: 100%;
    position: relative !important;
  }
}

#restaurant-name {
  color: $burgundy;
  font: 600 20pt/1 $story;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-align: center;
  text-transform: uppercase;
  @include tablet {
    text-align: left;
  }
}

#restaurant-img {
  @include tablet {
    width: 90%;
  }
}

figure {
  margin: 0;
}

#restaurant-caption {
  font-size: 80%;
}

#restaurant-address {
  margin: 10px 0px;
  font-style: inherit;
}

#restaurant-cuisine {
  background-color: $darkGray;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 20px 0;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  @include tablet {
    width: 90%;
  }
}

.restaurant-rating {
  float: right;
  position: absolute;
  top: 0;
  right: 20px;
}



#restaurant-container, 
#reviews-container,
#form-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid $white;
  padding: 120px 30px 30px;
  @include phone {
    width: 70%;
    margin: 0 auto;
  }
  @include tablet {
    width: 50%;
    margin: 0;
  }
  @include desktop {
    padding: 120px 40px 30px;
  }
}

#reviews-container {
  padding: 30px 30px;
  h2 {
    color: $burgundy;
    font-size: 24pt;
    font-weight: 400;
    font-family: $story;
    letter-spacing: -1px;
    padding-bottom: 1pt;
  }
}

#reviews-list {
  margin: 0;
  padding: 0;
  li {
    position: relative;
    background-color: $white;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    padding: 10px 20px 20px;
    box-shadow: 0 3px 6px -3px #BDBDBD;
    &.review-offline {
      box-shadow: 0 0px 7px 2px #f70d0d;
    }
    @include tablet {
      width: 80%;
    }
    @include desktop {
      width: 84%;
    }
    p, 
    em {
      line-height: 1.9;
      margin: 10px 0;
    }
  }
}

#restaurant-hours td {
  color: #666;
}

#form-container {
  padding: 30px 40px 100px;
  h2 {
    color: $burgundy;
    font-size: 24pt;
    font-weight: 400;
    font-family: $story;
    letter-spacing: -1px;
    padding-bottom: 1pt;
  }
  #review-form {
    display: flex;
    flex-direction: column;
  }
  #author-rating-container {
    display: flex;
  }
  #review-author-container {
    flex: 2;
  }
  #review-rating-container {
    flex: 1;
    select {
      height: 34px;
      width: 25%;
    }
  }
  #review-comments-container {
    margin-top: 20px;
    #form-error {
      color: $burgundy;
      font-weight: 700;
    }
  }
  #review-comments,
  #review-author {
    width: 100%;
    @include phone {
      width: 70%;
    }
  }
  .form-control {
    background-color: $white;
    display: block;
    padding: .375rem .75rem;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    line-height: 24px;
  }
}

.review-offline {
  box-shadow: 0 0px 7px 2px #f70d0d;
}

.offline-label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border: 1px solid #f70d0d;
  background-color: #f70d0d;
  width: auto;
  letter-spacing: 1px;
  font-weight: 700;
  color: white;
  padding: 5px 10px;
}